@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%; } }

@media screen and (max-width: 735px) {
  .col.s1 {
    width: 8.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l2 {
    width: 16.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m2 {
    width: 16.66667%; } }

@media screen and (max-width: 735px) {
  .col.s2 {
    width: 16.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l3 {
    width: 25%; } }

@media screen and (max-width: 1068px) {
  .col.m3 {
    width: 25%; } }

@media screen and (max-width: 735px) {
  .col.s3 {
    width: 25%; } }

@media screen and (max-width: 3000px) {
  .col.l4 {
    width: 33.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m4 {
    width: 33.33333%; } }

@media screen and (max-width: 735px) {
  .col.s4 {
    width: 33.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l5 {
    width: 41.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m5 {
    width: 41.66667%; } }

@media screen and (max-width: 735px) {
  .col.s5 {
    width: 41.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l6 {
    width: 50%; } }

@media screen and (max-width: 1068px) {
  .col.m6 {
    width: 50%; } }

@media screen and (max-width: 735px) {
  .col.s6 {
    width: 50%; } }

@media screen and (max-width: 3000px) {
  .col.l7 {
    width: 58.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m7 {
    width: 58.33333%; } }

@media screen and (max-width: 735px) {
  .col.s7 {
    width: 58.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l8 {
    width: 66.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m8 {
    width: 66.66667%; } }

@media screen and (max-width: 735px) {
  .col.s8 {
    width: 66.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l9 {
    width: 75%; } }

@media screen and (max-width: 1068px) {
  .col.m9 {
    width: 75%; } }

@media screen and (max-width: 735px) {
  .col.s9 {
    width: 75%; } }

@media screen and (max-width: 3000px) {
  .col.l10 {
    width: 83.33333%; } }

@media screen and (max-width: 1068px) {
  .col.m10 {
    width: 83.33333%; } }

@media screen and (max-width: 735px) {
  .col.s10 {
    width: 83.33333%; } }

@media screen and (max-width: 3000px) {
  .col.l11 {
    width: 91.66667%; } }

@media screen and (max-width: 1068px) {
  .col.m11 {
    width: 91.66667%; } }

@media screen and (max-width: 735px) {
  .col.s11 {
    width: 91.66667%; } }

@media screen and (max-width: 3000px) {
  .col.l12 {
    width: 100%; } }

@media screen and (max-width: 1068px) {
  .col.m12 {
    width: 100%; } }

@media screen and (max-width: 735px) {
  .col.s12 {
    width: 100%; } }

@font-face {
  font-family: "pingguo";
  src: url(font/iconfont.woff) format("woff"); }

@font-face {
  font-family: "xi";
  src: url(font/myriad-set-pro_extrathin.woff) format("woff"); }

@font-face {
  font-family: "fangdajing";
  src: url(font/fangdajing.woff) format("woff"); }

@font-face {
  font-family: "cu";
  src: url(font/myriad-set-pro_semibold.woff) format("woff"); }

@font-face {
  font-family: "zhengchang";
  src: url(font/myriad-set-pro_text.woff) format("woff"); }

@font-face {
  font-family: "jixi";
  src: url(font/myriad-set-pro_thin.woff) format("woff"); }

.xi {
  font-family: "xi"; }

.cu {
  font-family: "cu"; }

.zhengchang {
  font-family: "zhengchang"; }

.jixi {
  font-family: "jixi"; }

.tubiao {
  font-family: "pingguo";
  font-style: normal; }

.guoguo::before {
  content: "\e6d6"; }

.kongguoguo::before {
  content: "\e60a"; }

.row {
  position: relative; }

.row::after {
  content: "";
  clear: both;
  display: none;
  height: 0;
  line-height: 0; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-family: "微软雅黑"; }

.zuo {
  position: fixed;
  width: 30%;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.75); }
  .zuo .tit {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black; }
    .zuo .tit .yi {
      width: 56px;
      height: 100%;
      text-align: center;
      line-height: 45px;
      color: aliceblue;
      font-family: "cu";
      font-size: 20px;
      margin-left: 10px;
      float: left; }
    .zuo .tit .er {
      width: 84px;
      height: 100%;
      text-align: center;
      line-height: 45px;
      color: #a09e98;
      font-family: "cu";
      font-size: 20px;
      margin-left: 10px;
      float: left; }
    .zuo .tit .san {
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 10px; }
      .zuo .tit .san .xian1 {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
      .zuo .tit .san .xian2 {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        transform: rotateZ(90deg); }
  .zuo .naozhong {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #1a1a1a; }
    .zuo .naozhong .nao {
      width: 40px;
      height: 40px;
      background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
      background-position: 0 -359px;
      margin-left: 10px;
      float: left; }
    .zuo .naozhong .jihua {
      width: 50px;
      height: 100%;
      text-align: center;
      line-height: 44px;
      color: #fff;
      float: left; }
  .zuo .tiaomu {
    width: 100%; }
    .zuo .tiaomu .neirong {
      width: 88%;
      height: 44px;
      border-bottom: 1px solid #1a1a1a;
      float: right; }
      .zuo .tiaomu .neirong .dian {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        left: -30px; }
      .zuo .tiaomu .neirong .dian.red {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -102px -571px; }
      .zuo .tiaomu .neirong .dian.green {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -85px -571px; }
      .zuo .tiaomu .neirong .dian.yellow {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -34px -571px; }
      .zuo .tiaomu .neirong .dian.blue {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -68px -571px; }
      .zuo .tiaomu .neirong .dian.orange {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -51px -571px; }
      .zuo .tiaomu .neirong .dian.zise {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -17px -571px; }
      .zuo .tiaomu .neirong input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: none;
        color: #fff;
        font-size: 20px;
        font-family: "xi"; }

.you {
  width: 70%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0; }
  .you .xz {
    width: 38px;
    height: 22px;
    position: absolute;
    top: 100px;
    right: 50px;
    cursor: pointer;
    z-index: 88888; }
  .you .xz.red {
    color: #ff2968; }
  .you .xz.yellow {
    color: #ffda70; }
  .you .xz.blue {
    color: blue; }
  .you .xz.green {
    color: green; }
  .you .xz.orange {
    color: orange; }
  .you .xz.zise {
    color: slateblue; }
  .you .sou {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e6e6e6; }
    .you .sou .fangda {
      width: 44px;
      height: 44px;
      float: left;
      font-family: "fangdajing";
      text-align: center;
      line-height: 44px;
      font-size: 30px;
      color: #666; }
    .you .sou input {
      width: 500px;
      height: 100%;
      color: #666;
      line-height: 44px;
      font-size: 20px;
      border: none;
      outline: none; }
  .you .neirong {
    box-sizing: border-box;
    padding-left: 20px; }
    .you .neirong .yiwan {
      width: 100%;
      height: 52px; }
      .you .neirong .yiwan .jiao {
        width: 23px;
        height: 23px;
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png");
        background-position: -92px -526px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 24px; }
      .you .neirong .yiwan .jiao.zhuan {
        transform: rotateZ(90deg); }
      .you .neirong .yiwan .ywc {
        width: 200px;
        height: 100%;
        margin-left: 50px;
        color: #666;
        line-height: 52px;
        box-sizing: border-box;
        padding-left: 20px; }
    .you .neirong h1 {
      font-size: 40px;
      font-family: "微软雅黑";
      font-weight: 200;
      margin-left: 30px;
      margin-top: 30px; }
    .you .neirong .xuanxiang {
      position: fixed;
      width: 363px;
      height: 243px;
      border: 1px solid #666;
      border-radius: 5px;
      top: 20px;
      right: 40px;
      background: #fff;
      z-index: 99999; }
      .you .neirong .xuanxiang .inner {
        width: 96%;
        height: 96%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px solid #666;
        background: #fff;
        border-radius: 5px; }
        .you .neirong .xuanxiang .inner input {
          margin-left: 15px;
          margin-top: 30px;
          width: 314px;
          height: 42px;
          outline: none;
          font-size: 25px;
          box-sizing: border-box;
          padding-left: 10px; }
        .you .neirong .xuanxiang .inner input.red {
          color: #ff2968; }
        .you .neirong .xuanxiang .inner input.yellow {
          color: #ffda70; }
        .you .neirong .xuanxiang .inner input.blue {
          color: blue; }
        .you .neirong .xuanxiang .inner input.green {
          color: green; }
        .you .neirong .xuanxiang .inner input.orange {
          color: orange; }
        .you .neirong .xuanxiang .inner input.zise {
          color: slateblue; }
        .you .neirong .xuanxiang .inner p {
          height: 55px;
          color: black;
          line-height: 55px;
          box-sizing: border-box;
          padding-left: 20px; }
        .you .neirong .xuanxiang .inner ul {
          width: 90%;
          height: 48px;
          border-bottom: 1px solid #e6e6e6;
          float: right; }
          .you .neirong .xuanxiang .inner ul li {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: red;
            float: left;
            margin-left: 20px; }
          .you .neirong .xuanxiang .inner ul li.act {
            border: 1px solid black;
            box-sizing: border-box; }
          .you .neirong .xuanxiang .inner ul li:nth-child(1) {
            background: red; }
          .you .neirong .xuanxiang .inner ul li:nth-child(2) {
            background: yellow; }
          .you .neirong .xuanxiang .inner ul li:nth-child(3) {
            background: blue; }
          .you .neirong .xuanxiang .inner ul li:nth-child(4) {
            background: green; }
          .you .neirong .xuanxiang .inner ul li:nth-child(5) {
            background: orangered; }
          .you .neirong .xuanxiang .inner ul li:nth-child(6) {
            background: darkmagenta; }
        .you .neirong .xuanxiang .inner .neinei::after {
          content: "";
          width: 20px;
          height: 20px;
          background: red;
          clear: both; }
        .you .neirong .xuanxiang .inner .shan {
          width: 36px;
          height: 21px;
          color: red;
          float: left;
          margin-left: 20px;
          margin-top: 20px;
          cursor: pointer; }
        .you .neirong .xuanxiang .inner .qu {
          width: 57px;
          height: 21px;
          color: blue;
          border-right: 1px solid #666;
          float: left;
          margin-left: 160px;
          margin-top: 20px;
          cursor: pointer; }
        .you .neirong .xuanxiang .inner .wan {
          width: 57px;
          height: 21px;
          color: blue;
          float: left;
          margin-left: 10px;
          margin-top: 20px;
          cursor: pointer; }
    .you .neirong .xian {
      width: 100%;
      height: 1px;
      background: #666; }
    .you .neirong li {
      width: 100%;
      height: 52px;
      border-bottom: 1px solid #666; }
      .you .neirong li hr {
        display: block;
        width: 100%; }
      .you .neirong li .quan {
        left: 20px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: red;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      .you .neirong li .quan.red {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -128px -401px; }
      .you .neirong li .quan.wan.red {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -64px -401px; }
      .you .neirong li .quan.yellow {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -136px -267px; }
      .you .neirong li .quan.yellow.wan {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -136px -199px; }
      .you .neirong li .quan.blue {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -136px -167px; }
      .you .neirong li .quan.blue.wan {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -74px -359px; }
      .you .neirong li .quan.green {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -42px -359px; }
      .you .neirong li .quan.green.wan {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -32px -401px; }
      .you .neirong li .quan.orange {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: 0 -433px; }
      .you .neirong li .quan.orange.wan {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -96px -465px; }
      .you .neirong li .quan.zise {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: -64px -465px; }
      .you .neirong li .quan.zise.wan {
        background: url("wcR1J218DDZ8wAAAABJRU5ErkJggg==.png") no-repeat;
        background-position: 0 -465px; }
      .you .neirong li input {
        display: block;
        width: 90%;
        height: 99%;
        border: none;
        background: none;
        position: absolute;
        top: 0;
        left: 60px;
        z-index: 777;
        outline: none; }
      .you .neirong li .gaizi {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        .you .neirong li .gaizi .xuanze {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          text-align: center;
          line-height: 52px;
          right: 20px; }
      .you .neirong li .sandan {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
        cursor: pointer; }
      .you .neirong li .gaizi.red {
        background: rgba(255, 41, 104, 0.45);
        border-bottom: 1px solid red;
        border-top: 1px solid red; }
      .you .neirong li .gaizi.yellow {
        background: rgba(255, 218, 112, 0.42);
        border-bottom: 1px solid yellow;
        border-top: 1px solid yellow; }
      .you .neirong li .gaizi.blue {
        background: rgba(0, 0, 255, 0.33);
        border-bottom: 1px solid blue;
        border-top: 1px solid blue; }
      .you .neirong li .gaizi.green {
        background: rgba(0, 128, 0, 0.38);
        border-bottom: 1px solid green;
        border-top: 1px solid green; }
      .you .neirong li .gaizi.orange {
        background: rgba(255, 165, 0, 0.42);
        border-bottom: 1px solid orange;
        border-top: 1px solid orange; }
      .you .neirong li .gaizi.zise {
        background: rgba(106, 90, 205, 0.4);
        border-bottom: 1px solid blueviolet;
        border-top: 1px solid blueviolet; }
  .you .an {
    width: 100%;
    height: 52px; }
    .you .an span {
      display: block;
      width: 95%;
      height: 100%;
      line-height: 52px;
      color: #666;
      float: right;
      font-size: 40px;
      border-bottom: 1px solid #efefef;
      cursor: pointer; }
  .you .neirong.red {
    color: #ff2968; }
  .you .neirong.yellow {
    color: #ffda70; }
  .you .neirong.blue {
    color: blue; }
  .you .neirong.green {
    color: green; }
  .you .neirong.orange {
    color: orange; }
  .you .neirong.zise {
    color: slateblue; }
